doctype
html
    head
        title Application
        link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")

    body
        header.nav.navbar-inverse
            .container
                .navbar-header
                    a.navbar-brand(href="/") Application
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li
                            a(href="/footballers/") All players
                        li
                            a(href="/footballers/add") Add player

                        if !currentUser
                            li
                                a(href="/register") Register
                            li
                                a(href="/login") Login
                        else
                            li
                                a(href="/logout") Logout


        .container

            if errorMessage
                .alert.alert-warning #{errorMessage}
            if successMessage
                .alert.alert-success #{successMessage}

            block main-content

        footer
            p.text-center
                | &copy; Emo 2014

        include scripts