ul
{
	list-style-type:none;
	padding:0;
	margin:0;
}

ul ul
{
	display:none;
	color:gray;
}

	ul > li:hover > span
	{
		text-decoration:underline;
	}
		
	ul > li:hover > ul
	{
		display:block;
		padding-left:10px;
	}