<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FootballDataSoap" maxReceivedMessageSize = "1000000" />
        <binding name="FootballDataDemoSoap" maxReceivedMessageSize = "1000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.xmlsoccer.com/FootballData.asmx"
          binding="basicHttpBinding" bindingConfiguration="FootballDataSoap"
          contract="ProService.FootballDataSoap" name="FootballDataSoap" />
      <endpoint address="http://www.xmlsoccer.com/FootballDataDemo.asmx"
          binding="basicHttpBinding" bindingConfiguration="FootballDataDemoSoap"
          contract="DemoService.FootballDataDemoSoap" name="FootballDataDemoSoap" />
    </client>
  </system.serviceModel>
  
</configuration>