body
{
	#imageBar {
		li {
			display:inline-block;
			label {
				img {
					max-width:200px;
				}
			}
		}
	}

	#images {
		list-style:none;
		li {
			input {
			display:none;			
			&:checked + img {
				display:inline-block;
				max-width:600px;
			}
			}
			img {
				display:none;
			}
		}
		
	}
}