.gradient (@top-color, @top-perc, @bottom-color, @bottom-perc) {
    background: @top-color; /* Old browsers */
    background: -moz-linear-gradient(top, @top-color @top-perc, @bottom-color @bottom-perc); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@top-perc,@top-color), color-stop(@bottom-perc,@bottom-color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @top-color @top-perc,@bottom-color @bottom-perc); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @top-color @top-perc,@bottom-color @bottom-perc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @top-color @top-perc,@bottom-color @bottom-perc); /* IE10+ */
    background: linear-gradient(to bottom, @top-color @top-perc,@bottom-color @bottom-perc); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@top-color', endColorstr='@bottom-color',GradientType=0 ); /* IE6-9 */
}

html, body, div, hgroup, h3, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
    width: 960px;

    #wrapper {
        overflow: hidden;
        margin: 20px;

        & > div {
            width: 140px;
            padding: 10px 4px 0 4px;
            
            border-right: none;
            float: left;

            &:last-of-type {
                border-right: 2px solid #D3D7DA;
            }

            hgroup {
                padding-left: 40px;
                /*padding-bottom:16px;*/
                margin-bottom: 16px;
                height: 40px;

                h2, h3 {
                    font-size: 1em;
                }
            }

            &:nth-of-type(1) hgroup {
                background: url(imgs/install.png);
                background-repeat: no-repeat;
                background-position-y: 4px;
            }

            &:nth-of-type(2) hgroup {
                background: url(imgs/tuneUp.png);
                background-repeat: no-repeat;
                background-position-y: 4px;
            }

            &:nth-of-type(3) hgroup {
                background: url(imgs/manage.png);
                background-repeat: no-repeat;
                background-position-y: 4px;
            }

            &:nth-of-type(4) hgroup {
                background: url(imgs/openSource.png);
                background-repeat: no-repeat;
                background-position-y: 4px;
            }

            &:nth-of-type(5) {

                hgroup {
                    background: url(imgs/twitter.png);
                    background-repeat: no-repeat;
                    background-position-y: 4px;
                }

                .yellowBox {
                    background:#FFFFDD;
                    border: 1px solid #FFFF00;
                }

                a {
                    display: inline;
                }
            }

            &:nth-of-type(6) hgroup {
                background: url(imgs/about.png);
                background-repeat: no-repeat;
                background-position-y: 4px;
            }

            &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                hgroup {
                    h2 {
                        padding-top: 20px;
                    }
                }
            }

            & > p {
                margin-bottom: 5px;
            }

            & > div {

                a {
                    display: block;
                    text-decoration: none;
                    color: #D12D2F;

                    span {
                        text-transform: uppercase;
                    }
                }
            }

            // borders
            border-bottom: 2px solid #D3D7DA;
            border-top: 2px solid #D3D7DA;
            &:nth-of-type(odd) {
                height:250px;
            }

            &:nth-of-type(1) {
                border-right:none;
                border-left:2px solid #D3D7DA;;
            }
            
            &:nth-of-type(even) {
                height:270px;
                border-left:2px solid #D3D7DA;
                border-right:2px solid #D3D7DA;
                .gradient(#FFFFFF, 0, #F1F2F3, 100%);
            }
        }
    }
}
